<html>
  <head>
    <script
    src="http://code.jquery.com/jquery-3.3.1.js"
    integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous"></script>



    <title>Quora Clone</title>

    
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link rel="stylesheet" type="text/css" href="/css/application.css">
  </head>
  <body>
    <a href="/">Home</a>
    
    <% if logged_in? %>
      <p>Welcome <%= current_user.name %></p>
      <a href="/logout">Log out</a>
      <a href="/users/<%= current_user.id %>">My profile</a>
      <a href="/users/<%= current_user.id %>/question">Ask Question</a>
      <a href="/users/<%= current_user.id %>/allquestions">Answer Question</a>
    <% else %>
      <a href="/signup">Sign up</a>
      <a href="/login">Log in</a>
    <% end %>


    <%= yield %>



<!-- JavaScript_______________JavaScript_______________JavaScript_______________JavaScript_______________-->


<script type="text/javascript">

// $(document).ready(function() {
//     alert("ready!");
// });
  





</script>
<!-- JavaScript_______________JavaScript_______________JavaScript_______________JavaScript_______________-->

  </body>
</html>




